<!doctype html>
<html ng-app="cbgimages">
  <head>
    <meta charset="utf-8">
    <title>CBG Images</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Teko:700|Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) /app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section class='main-section' ng-controller="NavbarCtrl" layout='row' flex>
      <div ng-click="openLeft()" hide-gt-md layout='row' layout-align='center center' class="mobile-menu-btn" aria-label="Settings">
        <span>Menu</span>
      </div>
        <md-sidenav layout='column' md-component-id='left' class='md-sidenav-left side-nav-styling' md-is-locked-open="$mdMedia('gt-md')">
          <md-button ng-click="closeLeft()" hide-gt-md class="close-nav-btn"><i class="material-icons">close</i></md-button>
            <div ui-sref="home" ng-click="closeLeft()" layout='row' layout-align='start center' class='header-logo' alt='CBG Images'>
              <img style='height: 70px; width: 70px;'src="app/assets/icons/g-logo-sin-text-white.png">
            </div>
          <nav class='header-menu-nav'>
            <h1>{{state.current}}</h1>
            <ul class='nav-menu-list' layout='column' layout-align='center start'>
              <li ui-sref-active='active' ng-click="closeLeft()" ui-sref='home' layout='row' layout-align='start center' class='menu-list-button cmn-t'>
                <span class='menu-list-text'>HOME</span>
              </li>
              <li ui-sref-active='active' ng-click="closeLeft()" ui-sref='bio-contact' layout='row' layout-align='start center' class='menu-list-button cmn-t'>
                <span class='menu-list-text'>BIO/CONTACT<span>
              </li>
              <li class='menu-list-header'>portfolio</li>
              <li ui-sref-active='active' ng-click="closeLeft()" ui-sref='portfolio({category: "still-life"})' layout='row' layout-align='start center' class='menu-list-button cmn-t'>
                <span class='menu-list-text'>STILL LIFE</span>
              </li>
              <li ui-sref-active='active' ng-click="closeLeft()" ui-sref='portfolio({category: "portraiture"})' layout='row' layout-align='start center' class='menu-list-button cmn-t'>
                <span class='menu-list-text'>PORTRAITURE</span>
              </li>
              <li ui-sref-active='active' ng-click="closeLeft()" ui-sref='portfolio({category: "architecture"})' layout='row' layout-align='start center' class='menu-list-button cmn-t'>
                <span class='menu-list-text'>ARCHITECTURE</span>
              </li>
              
              <!--
              <li ui-sref="portfolio({category: 'client-work'})" layout='row' layout-align='start center' ng-click='toggleLeft()' class='menu-list-button cmn-t'><span class='menu-list-text'>Client Work</li>
              <li ui-sref="portfolio({category: 'travel'})" layout='row' layout-align='start center' ng-click='toggleLeft()' class='menu-list-button cmn-t'><span class='menu-list-text'>Travel</li>
              <li ui-sref="portfolio({category: 'streets'})" layout='row' layout-align='start center' ng-click='toggleLeft()' class='menu-list-button cmn-t'><span class='menu-list-text'>Streets</li>
              -->
            </ul> 
          </nav>
        </md-sidenav>
        <md-content flex style='overflow-y: auto !important;'>
          <div ui-view>
          </div>
        </md-content>
    </section>
    <footer></footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
